* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: rgb(238, 238, 238);
}

.head {
    text-align: center;
    margin: 2%;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.plan {
    border-left: 3px solid green;
    margin: auto;
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 2%;
    padding: 10px;
    width: 45%;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 5px 5px 10px gray;
}

.penplan {
    border-left: 3px solid red;
    margin: auto;
    margin-left: 2%;
    margin-top: 10px;
    margin-bottom: 2%;
    padding: 10px;
    width: 45%;
    background-color: white;
    border-radius: 10px;
    display: inline-block;
    box-shadow: 5px 5px 10px gray;
}

.planhead {
    font-size: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
}

.comfirmed {
    color: green;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    float:right;
    margin-right: 6%;
}

.pending {
    color: red;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    margin-right: 8%;
    float: right;
}

.information {
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80%;
}

.button {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 8% 4% 0% 5%;
    cursor: pointer;
    border-radius: 16px;
}

.button:hover {
    background-color: #f1f1f1;
}